.user-form {
  > div {
    display: block;
    margin: 1em 0;
  }

  label {
    display: inline-block;
    padding-right: 0.5em;
    width: 80px;
    &:after{
      content: ':'
    }
  }

  .honeypot {
    display: none;
  }

  .actions {
  }
}

.field_with_errors {
  display: inline;
  
  input, textarea {
    border: 1px solid #EF4F4F;
  }
}
